# Preprocesamiento de datos

In [2]:
import pandas as pd
import numpy as np

Dateset de salida

In [11]:
dataset_ejemplo = pd.read_csv('../data/ejemplo_salida.csv', header=None,)
dataset_ejemplo.head(5)

            0  1
0  2021-11-01  1
1  2021-11-02  1
2  2021-11-03  1
3  2021-11-04  1
4  2021-11-05  1

## Datos de entrenamiento

Los datos consideran el valor de apertura de la acción bursatil, máximo, mínimo, volumen de transacciones y cierre del valor para cada día entre 2017 y 2021

In [12]:
data = pd.read_csv('../data/training_series.csv')
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-01-03,2251.570068,2263.879883,2245.129883,2257.830078,2257.830078,3770530000
1,2017-01-04,2261.600098,2272.820068,2261.600098,2270.750000,2270.750000,3764890000
2,2017-01-05,2268.179932,2271.500000,2260.449951,2269.000000,2269.000000,3761820000
3,2017-01-06,2271.139893,2282.100098,2264.060059,2276.979980,2276.979980,3339890000
4,2017-01-09,2273.590088,2275.489990,2268.899902,2268.899902,2268.899902,3217610000

## Calculo volatilidad intra día

In [13]:
data['d_volatility']= (data['High'] - data['Low'])/data['Open']

In [14]:
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,d_volatility
0,2017-01-03,2251.570068,2263.879883,2245.129883,2257.830078,2257.830078,3770530000,0.008328
1,2017-01-04,2261.600098,2272.820068,2261.600098,2270.750000,2270.750000,3764890000,0.004961
2,2017-01-05,2268.179932,2271.500000,2260.449951,2269.000000,2269.000000,3761820000,0.004872
3,2017-01-06,2271.139893,2282.100098,2264.060059,2276.979980,2276.979980,3339890000,0.007943
4,2017-01-09,2273.590088,2275.489990,2268.899902,2268.899902,2268.899902,3217610000,0.002899

## Añado datos del VIX (índice de volatilidad o riesgo)

Vix correlaciona negativamente con el S&P500 según literatura revisada

In [19]:
vix = pd.read_csv('../data/VIXCLS.csv')
vix = vix.rename(columns={'DATE': 'Date', 'VIXCLS':"VIX"})
vix.head()

         Date    VIX
0  2017-01-03  12.85
1  2017-01-04  11.85
2  2017-01-05  11.67
3  2017-01-06  11.32
4  2017-01-09  11.56

merge

In [21]:
data = data.merge(vix)
data.head(5)

,Date,Open,High,Low,Close,Adj Close,Volume,d_volatility,VIX
0,2017-01-03,2251.570068,2263.879883,2245.129883,2257.830078,2257.830078,3770530000,0.008328,12.85
1,2017-01-04,2261.600098,2272.820068,2261.600098,2270.750000,2270.750000,3764890000,0.004961,11.85
2,2017-01-05,2268.179932,2271.500000,2260.449951,2269.000000,2269.000000,3761820000,0.004872,11.67
3,2017-01-06,2271.139893,2282.100098,2264.060059,2276.979980,2276.979980,3339890000,0.007943,11.32
4,2017-01-09,2273.590088,2275.489990,2268.899902,2268.899902,2268.899902,3217610000,0.002899,11.56

##  ¿Añadir otras variables? 
Balance sheet de la FED, pero no encontré datos díarios.

## Export

In [22]:
data.to_csv('../data/training_data.csv',index=False)